{% extends 'base.html.twig' %}

{% block header_title %}<h1>Liste des véhicules de la flotte</h1>{% endblock %}

{% block body %}
    {% if cars|length == 0 %}
        <div class="alert alert-warning" role="alert">
            Il n'y a pas encore de véhicules enregistré. <a href="{{ path('create_car') }}" class="btn btn-warning pull-right">Ajouter un véhicule</a>
        </div>
    {% else %}
        <div class="row">
            <a href="{{ path('create_car') }}" class="btn btn-warning pull-right">Ajouter un véhicule</a>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Marque</th>
                    <th>Couleur</th>
                    <th>Carburant</th>
                    <th>Nombre de places</th>
                    <th>Type de véhicule</th>
                </tr>
                </thead>
                <tbody>
                {% for car in cars %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ car.brand }}</td>
                        <td>{{ car.color }}</td>
                        <td>{{ car.fuel }}</td>
                        <td>{{ car.seatNb }}</td>
                        <td>{{ car.type }}</td>
                        <td>
                            {#<a href="{{ path('car_edit', {'id' : car.id}) }}" class="btn btn-success btn-sm">Modifier</a> #}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
